[phases.setup]
nixPkgs = ["python312", "pip", "build-essential"]

[phases.install]
cmds = [
  "pip install --upgrade pip setuptools wheel",
  "pip install .",
  "pip install -U babeldoc<0.3.0 pymupdf<1.25.3 pdfminer-six==20250416"
]

[phases.build]
cmds = []

[start]
cmd = "pdf2zh --celery worker --loglevel=info"

